body{
    font-family: sans-serif;
    background-color: lightseagreen;
    /*  display: flex;
    flex-direction: row;
    margin: 80px; */
}

 div{
    width: 100px;
    height: 100px;
    background-color: #0000ff; 
} 

.circle11{
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: #8a2be2;
}

.circleFace{
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: #ffff00
}

.eye-container {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-top: 10px;
}

.eye {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: black;
    margin: 10px;

}

.sad-mouth{
    width: 50px;
    height: 25px;
    background-color: #ffff00;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    border: 10px solid #000000;
    border-bottom: 0px;
    margin-left: 15px;
    margin-top: -5px
}

.happy-mouth{
    width: 50px;
    height: 25px;
    background-color: #ffff00;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    border: 10px solid #000000;
    border-top: 0px;
    margin-left: 15px;
    margin-top: -5px
}